hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==9.7.0
ntlmlib==0.72
numpy==2.4.6
opencanary==0.9.8
ordereddict==1.1
packaging==26.2
pandas==3.0.3
passlib==1.7.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyMySQL==1.2.0
pyOpenSSL==25.3.0
PyPDF2==1.27.9
python-dateutil==2.9.0.post0
requests==2.33.0
service-identity==21.1.0
setuptools==78.1.1
simplejson==3.16.0
six==1.17.0
SQLAlchemy==2.0.51
Twisted==24.11.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
watchdog==6.0.0
Werkzeug==3.1.8
zope.interface==7.2